<%- include('partials/header', { currentPage: 'arrivals', wasStationFound: wasStationFound }) %>
<% if(wasStationFound) { %>
<main>
	<% routePredictions.forEach(function(rP){ %>
	<section class="stop-container">
		<h1 class="route-name <%= rP.routeClassAttr %>">
			<% if(rP.routeClassAttr === 'local-bus') { %>
				<span class="stop-num"><%= rP.routeID.toString() %></span>
			<% } else { %>
				<img alt="MBTA T Logo" class="T-logo" src="imgs/T-logo-w-transparent-bk.svg">
			<% } %>
			<span><%= rP.routeDisplayName %></span>
		</h1>
		<% for(let i = 0; i < rP.predictions.length; i++) { %>
			<% if(rP.predictions[i].length > 0) { %>
				<h2 class="direction"><%= rP.directionNames[i] %></h2>
				<ul>
					<% rP.predictions[i].forEach(function(prediction) { %>
						<li>
							<span class="arrival-time"><%= prediction.timePrediction %></span>
							<span><%= prediction.stopName %> (to <%= prediction.destination %>)</span>
						</li>
					<% }); %>
				</ul>
			<% } %>
		<% } %>
	</section>
<% }); %>
</main>

<% } else { %>
<main class="flex-and-center">
	<p class="h1-like center-horizontal reverse-top-margin mobile-margin">Couldn't find "<%= stationName %>". Please try again.</p>
	<form action="/arrivals" method="get">
		<h2 class="form-title">Enter Your Station</h2>
		<label for="station-name" class="hide">Station Name</label>
		<input type="text" name="station-name" placeholder="Ex: South Station">
		<input type="submit" value="Get Times">
	</form>
</main>
<% } %>

</div>
</body>
</html>